.hero{

height:90vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:0 8%;

background:linear-gradient(135deg,#0F4C81,#2196F3);

color:white;

}

.hero-content{

max-width:900px;

}

.hero h1{

font-size:78px;

font-weight:800;

margin-bottom:20px;

}

.hero h2{

font-size:34px;

margin-bottom:25px;

font-weight:500;

}

.hero p{

font-size:22px;

line-height:1.8;

margin-bottom:45px;

}

.hero button{

background:#FF9933;

color:white;

border:none;

padding:18px 45px;

font-size:20px;

border-radius:12px;

cursor:pointer;

transition:.3s;

font-weight:700;

}

.hero button:hover{

background:#ff7b00;

transform:scale(1.05);

}