/* Tricolour Strip */

.tricolor-bar{
    height:6px;
    width:100%;
    background:linear-gradient(
        to right,
        #FF9933 33.33%,
        #FFFFFF 33.33%,
        #FFFFFF 66.66%,
        #138808 66.66%
    );
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 7%;
    background:rgba(255,255,255,0.96);
    backdrop-filter:blur(15px);
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-image{
    width:65px;
    height:65px;
    object-fit:contain;
}

.logo-text h2{
    color:#0F4C81;
    font-size:28px;
    margin:0;
    font-weight:700;
}

.logo-text p{
    color:#666;
    margin:0;
    font-size:13px;
}

/* Navigation */

.nav-links{
    display:flex;
    align-items:center;
    gap:25px;
    list-style:none;
}

.nav-links li{
    font-weight:600;
}

.nav-links a{
    color:#0F4C81;
    text-decoration:none;
    transition:.3s;
    position:relative;
}

.nav-links a:hover{
    color:#1976D2;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:3px;
    background:#FF9933;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

/* Government Badge */

.gov-badge{
    background:linear-gradient(
        90deg,
        #FF9933,
        white,
        #138808
    );

    padding:8px 18px;

    border-radius:25px;

    font-size:12px;

    font-weight:700;

    color:#0F4C81;

    border:1px solid #ddd;
}

/* Responsive */

@media(max-width:1200px){

.nav-links{

display:none;

}

.gov-badge{

display:none;

}

.logo-image{

width:55px;

height:55px;

}

.logo-text h2{

font-size:22px;

}

.logo-text p{

font-size:11px;

}

}